<%= form_for @user do |f| %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :first_name, "First Name" %><br />
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :middle_name, "Middle Name" %><br />
		<%= f.text_field :middle_name %>
	</p>
	<p>
		<%= f.label :last_name, "Last Name" %><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :dob, "Date of Birth" %><br />
		<%= f.date_select(:dob, method: :post, start_year: 1899, end_year: DateTime.now.year) %>
	</p>
	<p>
		<%= f.label :username %><br />
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</p>
	<p>
	<%= f.label :password, "New Password", value: @user.password %><br />
		<%= f.password_field :password, value: @user.password_confirmation %>
	</p>
	<p>
		<%= f.label :password_confirmation, "Password Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<%= f.fields_for :address do |address| %>
		<p>
			Address:<br />
			<%= address.label :street %><br />
			<%= address.text_field :street %>
		</p>

		<p>
			<%= address.text_field :address_line2 %>
		</p>

		<p>
			<%= address.label :city %><br />
			<%= address.text_field :city %>
		</p>

		<p>
			<%= address.label :county %><br />
			<%= address.text_field :county %>
		</p>

		<p>
			<%= address.label :post_code, "Post Code" %><br />
			<%= address.text_field :post_code %>
		</p>
	<%end%>
	<p>
		<%= f.label :phone %><br />
		<%= f.text_field :phone %>
	</p>
	
	<% unless !(@privileged_user_is_logged_in) %>
		<p>
			<%= f.label :approved %>
			<%= f.check_box :approved %>
		</p>
		<p>
			<%= f.label :locked %>
			<%= f.check_box :locked %>
		</p>
	<%end%>
	
	<% unless !(@admin_is_logged_in) %>
		<p>
			<%= f.label :receptionist %>
			<%= f.check_box :receptionist %>
		</p>
		<p>
			<%= f.label :doctor %>
			<%= f.check_box :doctor %>
		</p>
		<p>
			<%= f.label :admin %>
			<%= f.check_box :admin %>
		</p>
		<p>
		<%= link_to "Destroy", @user, method: :delete, data: { confirm: "Are you sure?" } %>
		</p>
	<%end%>
	<p>
		<%= f.submit "Submit", class: "button" %>
	</p>
<%end%>

