<% provide(:title, @user.first_name_last_name) %> 
<% content_for :main do%>
	<h4><%= @user.title %> <%= @user.first_name_last_name %></h4>
	<p>
		<strong>Title:</strong> <%= @user.title %>
	</p>
	<p>
		<strong>First Name:</strong> <%= @user.first_name %>
	</p>
	<p>
		<strong>Middle Name:</strong> <%= @user.middle_name %>
	</p>
	<p>
		<strong>Last Name:</strong> <%= @user.last_name %>
	</p>
	<p>
		<strong>Date of Birth:</strong> <%= @user.dob.strftime("%d %B %Y") %>
		(<strong>Age:</strong> <%= DateTime.now.year - @user.dob.year %>)
	
	</p>
	<p>
		<strong>Username:</strong> <%= @user.username %>
	</p>
	<p>
		<strong>Email Address:</strong> <%= @user.email %>
	</p>
	<p>
		<strong>Phone:</strong> <%= number_to_phone(@user.phone, area_code: true) %>
	</p>
	<p>
		<strong>Role: </strong> 
		<% if @user.admin? %>
			Admin
		<% elsif @user.doctor? %>
			Doctor
		<% elsif @user.receptionist? %>
			Receptionist
		<% elsif @user.patient? %>
			Patient
		<%else%>
			Pending
		<%end%>
	</p>
	<h5>Address:</h5>
	<table>
		<tr>
			<td><strong>Street:</strong></td>
			<td><%= @user.address.street %></td>
		</tr>
		<tr>
			<td></td>
			<td><%= @user.address.address_line2 %></td>
		</tr>
		<tr>
			<td><strong>City:</strong></td>
			<td><%= @user.address.city %></td>
		</tr>
		<tr>
			<td><strong>County:</strong></td>
			<td><%= @user.address.county %></td>
		</tr>
		<tr>
			<td><strong>Post Code:</strong></td>
			<td><%= @user.address.post_code %></td>
		</tr>
	</table>
	<p>
		<strong>Approved?:</strong> <%= @user.approved?.humanize %>
	</p>
	<p>
		<strong>Locked?:</strong> <%= @user.locked?.humanize %>
	</p>
	<p>
		<strong>Date Created:</strong> <%= @user.created_at.strftime("%d %B %Y %H:%M:%S") %><br />
		<strong>Date Last Modified:</strong> <%= @user.updated_at.strftime("%d %B %Y %H:%M:%S") %>
	</p>

	<p>
		<% unless !privileged_user_is_logged_in %>
			<%= link_to "<< Back to Users", users_path %> | 
		<%end%>
		<%= link_to "Edit", edit_user_path(@user) %>
		<% unless !admin_is_logged_in %>
			| <%= link_to "Destroy", @user, method: :delete, data: { confirm: "Are you sure?" } %>
		<%end%>
	</p>
<%end%>
