<% provide(:title, "") %> 
<% content_for :main do%>
	<a class="th" href = "#"><img src="https://placehold.it/650x350"></a>
	<div class="row small-up-4">
		<div class="column">
			<img class="th" src="https://placehold.it/250x200">
		</div>
		<div class="column">
			<img class="th" src="https://placehold.it/250x200">
		</div>
		<div class="column">
			<img class="th" src="https://placehold.it/250x200">
		</div>
		<div class="column">
			<img class="th" src="https://placehold.it/250x200">
		</div>
	</div>
<%end%>

<% content_for :bottom do%>
	<div class="row">
		<hr>
		<ul class="tabs" data-tab role="tablist">
			<li class="tab-title active" role = "presentation"><a href="#panel1" aria-selected="true" role = "tab" tab-index = "0" aria-controls="panel1">Get In Touch</a></li>
			<li class="tab-title" role = "presentation"><a href="#panel2" role = "tab" tab-index = "0" aria-selected = "false" aria-controls = "panel2">Your Doctors</a></li>
		</ul>
		<div class="tabs-content">
			<section role="tabpanel" id="panel1" aria-hidden="false" class = "content active row">
				<div class="medium-6 column">
					<div class="media-object-section">
						<h4>Get in Touch</h4>
						<%= render "contacts/form" %>
					</div>
				</div>
				<div class="medium-6 column">
					<div id="owl-demo" class="owl-carousel owl-theme medium-6 column">
							<% Testimonial.all.each do |testimonial| %>
								<div class = "item">
									<center>
										<h2><%= testimonial.body%></h2>
										<h3><%= testimonial.author %></h3>
									</center>
								</div>
							<%end%>
					</div>
					<% unless !(@senior_staff_member_is_logged_in) %>
						<div class = "right">
							<%= link_to "Add Testimonial", new_testimonial_path %> | 
							<%= link_to "Manage Testimonials", testimonials_path %>
						</div>
					<%end%>
				</div>
			</section>
			<section role ="tabpanel" id="panel2" aria-hidden = "true" class = "content">
					<div class = "row small-uncollapse medium-uncollapse large-uncollapse" >
						<% Doctor.where(doctor: true).each do |doc|%>
							<div class = "medium-6 column">
								<div class = "panel">
									<h3 class="lead"><%= doc.title%> <%= doc.first_name_last_name %></h3>
									<p><%= doc.biography %></p><%= Dir.pwd %>
								</div>
							</div>
						<%end%>
					</div>
			</section>
		</div>
	</div>
<%end%>
