<% provide(:title, "Patients") %> 
<% content_for :main do%>
	<% breadcrumb :patients %>
	<% unless !(@current_user.present? || privileged_user_is_logged) %>
		<h4>Patients</h4>
		<%= link_to "Add New Patient", new_patient_path, class: "right" %>
		<table>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Username</th>
				<th>Category</th>
				<th colspan="3"> </th>
			</tr>
			<% @patients.each do |patient| %>
				<tr>
					<td><%= patient.id %></td>
					<td><%= patient.full_name %></td>
					<td><%= patient.username %></td>
					<td>
						<% if patient.admin? %>
							Admin
						<% elsif patient.doctor? %>
							Doctor
						<% elsif patient.receptionist? %>
							Receptionist
						<% elsif patient.patient? %>
							Patient
						<%else%>
							<span class = "pending">Pending Approval</span>
						<%end%>
					</td>
					<td><%= link_to "Show", patient_path(patient) %></td>
					<td><%= link_to "Edit", edit_patient_path(patient) %></td>
					<td><%= link_to "Destroy", method: :delete, data: { confirm: "Are you sure?" } unless !admin_is_logged_in %></td>
				</tr>
			<%end%>
		</table>
	<%end%>
<%end%>
