<% provide(:title, "Your Doctors") %> 
<% content_for :main do%>
	<h4>Your Doctors</h4>
	<%= link_to "Add New Doctor", new_doctor_path, class: "right" unless !admin_is_logged_in %>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Username</th>
			<th>Category</th>
			<th colspan="3"> </th>
		</tr>
		<% @doctors.each do |doctor| %>
			<tr>
				<td><%= doctor.id %></td>
				<td><%= doctor.dr_full_name %></td>
				<td><%= doctor.username %></td>
				<td>
					<% if doctor.admin? %>
						Admin
					<% elsif doctor.doctor? %>
						Doctor
					<% elsif doctor.receptionist? %>
						Receptionist
					<% elsif doctor.doctor? %>
						Patient
					<%else%>
						<span class = "pending">Pending Approval</span>
					<%end%>
				</td>
				<td><%= link_to "Show", doctor_path(doctor) %></td>
					<td><%= link_to "Edit", edit_doctor_path(doctor) unless !(is_the_current_user(doctor.id) || admin_is_logged_in) %></td>

				<td><%= link_to "Destroy", method: :delete, data: { confirm: "Are you sure?" } unless !admin_is_logged_in %></td>
			</tr>
		<%end%>
	</table>

<%end%>
