<% provide(:title, "New Doctor") %> 
<% content_for :main do%>
	<h4>New Doctor</h4>
	<%= form_for(:doctor, url: doctors_url) do |f| %>
		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :first_name, "First Name" %><br />
			<%= f.text_field :first_name %>
		</p>
		<p>
			<%= f.label :middle_name, "Middle Name" %><br />
			<%= f.text_field :middle_name %>
		</p>
		<p>
			<%= f.label :last_name, "Last Name" %><br />
			<%= f.text_field :last_name %>
		</p>
		<p>
			<%= f.label :dob, "Date of Birth" %><br />
			<%= f.date_select(:dob, method: :post, start_year: 1899, end_year: DateTime.now.year) %>
		</p>
		<p>
			<%= f.label :biography %><br />
			<%= f.text_area :biography, rows: 10 %>
		</p>
		<p>
			<%= f.label :username %><br />
			<%= f.text_field :username %>
		</p>
		<p>
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.label :password_confirmation, "Password Confirmation" %><br />
			<%= f.password_field :password_confirmation %>
		</p>
		<%= f.fields_for :address do |address| %>
			<p>
				<%= address.label :street %><br />
				<%= address.text_field :street %>
			</p>
			<p>
				<%= address.text_field :address_line2 %>
			</p>
			<p>
				<%= address.label :city %><br />
				<%= address.text_field :city %>
			</p>
			<p>
				<%= address.label :county %><br />
				<%= address.text_field :county %>
			</p>
			<p>
				<%= address.label :post_code %><br />
				<%= address.text_field :post_code %>
			</p>
		<%end%>
		<p>
			<%= f.label :phone %><br />
			<%= f.text_field ActiveSupport::NumberHelper.number_to_phone(:phone) %>
		</p>
		<p>
			<%= f.label :approved %>
			<%= f.check_box :approved %>
		</p>
		<p>
			<%= f.label :receptionist %>
			<%= f.check_box :receptionist %>
		</p>
		<p>
			<%= f.label :doctor %>
			<%= f.check_box :doctor %>
		</p>
		<p>
			<%= f.label :admin %>
			<%= f.check_box :admin %>
		</p>
		<p>
			<%= f.submit %>
		</p>

	<%end%>
	<p>
		<%= link_to "<< Back to Doctors", doctors_path %>  
	</p>

<%end%>
