<% provide(:title, @doctor.dr_first_name_last_name) %> 
<% content_for :main do%>
	<% breadcrumb :doctor, @doctor %>
	<h4><%= @doctor.dr_first_name_last_name %></h4>
	<p>
		<%= @doctor.biography%>
	</p>

	<% unless !(admin_is_logged_in || is_the_current_user(@doctor.id)) %>
		<p>
			<strong>Title:</strong> <%= @doctor.title %>
		</p>
		<p>
			<strong>First Name:</strong> <%= @doctor.first_name %>
		</p>
		<p>
			<strong>Middle Name:</strong> <%= @doctor.middle_name %>
		</p>
		<p>
			<strong>Last Name:</strong> <%= @doctor.last_name %>
		</p>
		<p>
			<strong>Date of Birth:</strong> <%= @doctor.dob.strftime("%d %B %Y") %>
			(<strong>Age:</strong> <%= DateTime.now.year - @doctor.dob.year %>)
		
		</p>
		<p>
			<strong>Username:</strong> <%= @doctor.username %>
		</p>
		<p>
			<strong>Email Address:</strong> <%= @doctor.email %>
		</p>
		<p>
			<strong>Phone:</strong> <%= number_to_phone(@doctor.phone, area_code: true) %>
		</p>
		<h5>Address:</h5>
		<table>
			<tr>
				<td><strong>Street:</strong></td>
				<td><%= @doctor.address.street %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @doctor.address.address_line2 %></td>
			</tr>
			<tr>
				<td><strong>City:</strong></td>
				<td><%= @doctor.address.city %></td>
			</tr>
			<tr>
				<td><strong>County:</strong></td>
				<td><%= @doctor.address.county %></td>
			</tr>
			<tr>
				<td><strong>Post Code:</strong></td>
				<td><%= @doctor.address.post_code %></td>
			</tr>
		</table>
		<p>
			<strong>Approved?:</strong> <%= @doctor.approved?.humanize %>
		</p>
		<p>
			<strong>Locked?:</strong> <%= @doctor.locked?.humanize %>
		</p>
	<%end%>
	
	<p>
		<strong>Date Created:</strong> <%= @doctor.created_at.strftime("%d %B %Y %H:%M:%S") %><br />
		<strong>Date Last Modified:</strong> <%= @doctor.updated_at.strftime("%d %B %Y %H:%M:%S") %>
	</p>

	<p>
		<%= link_to "<< Back to Doctors", doctors_path %> | 
		<%= link_to "Edit", edit_doctor_path(@doctor) unless !(admin_is_logged_in || is_the_current_user(@doctor.id)) %>
		<% unless !admin_is_logged_in %>
			| <%= link_to "Destroy", @doctor, method: :delete, data: { confirm: "Are you sure?" } %>
		<%end%>
	</p>

<%end%>
