<%= form_for @appointment do |f| %>
	<p>
		<%= f.label :patient %><br />
		<%= f.select(:patient_id, options_for_select(Patient.where(patient: true).collect { |p| [ p.full_name, p.id ] }))%>
	</p>
	<p>
		<%= f.label :doctor %><br />
		<%= f.select(:doctor_id, options_for_select(Doctor.where(doctor: true).collect { |d| [ d.dr_full_name, d.id ] }))%>
	</p>
	<p>
		<div class = "small_input">
			<%= f.date_select(:start_time, method: :post, start_year: DateTime.now.year, end_year: (DateTime.now.year + 2)) %>
			<%= f.label :start_time %><br />
			<%= f.time_select(:start_time, method: :post) %>
		</div>
	</p>
	<p>
		<div class = "small_input">
			<%= f.label :end_time %><br />
			<%= f.time_select(:end_time, method: :post) %>
		</div>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, rows: 4 %>
	</p>
	<p>
		<%= f.label :cancelled %>
		<%= f.check_box :cancelled %>
	</p>
	<%= f.submit "Submit", class: "button" %>
<%end%>
