<header>
	<div class = "header_image">
		<div class = "header_text">
			The Doctor will see you now!
		</div>
		<%= image_tag "slide2.jpg", width: "100%"%>
	</div>
	<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to "The Doctor's", root_path %></h1>
				</li>
				<li class="toggle-topbar menu-icon has-dropdown"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="#">Left Nav Button</a></li>
				</ul>
				
				<!-- Right Nav Section -->
				<ul class = "nav-right">
					<%= render "search/search_box" %>
					<li class="has-dropdown">
						<%= link_to "Menu", "#" %>
						<ul class="dropdown">
							<%	if @current_user %>
								<li>
									<% if patient_is_logged_in %>
										<%= link_to "Account Settings", patient_path(@current_user) %>
									<% elsif doctor_is_logged_in %>
										<%= link_to "Account Settings", doctor_path(@current_user) %>
									<%else%>
										<%= link_to "Account Settings", user_path(@current_user) %>
									<%end%>
								</li>
								<li><%= link_to "Log Out", logout_path, method: :delete %></li>
							<%else%>
								<li><%= link_to "Log In", login_path %></li>
								<li><%= link_to "Register", register_path %></li>
							<%end%>
							<% Page.all.each do |page| %>
								<li class="active"><%= link_to page.title, page_path(page) %></li>
							<%end%>
						</ul>
					</li>
				</ul>
	
			</section>
		</nav>
	</div>
	<br>
	<div class="row">
		<nav aria-label="You are here:" role="navigation">
			<%= breadcrumbs display_single_fragment: true, pretext: "You are here: ", style: :foundation5 %> 
		</nav>
	</div>
</header>
