<header>
	<div class = "header_image">
		<div class = "header_text">
			The Doctor will see you now!
		</div>
		<%= image_tag "slide2.jpg", width: "100%"%>
	</div>
	<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar role="navigation">
			<div class="top-bar-section">
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to "The Doctor's", root_path %></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<!-- Right Nav Section -->
				<ul class="right">
					<li><input type="text" placeholder="Find Stuff" class = "active" /></li>
					<li><%=link_to "", "#", class: "button active fi-magnifying-glass" %></li>
					<li class="has-dropdown">
						<% if @current_user.present?%>
							<% if @current_user.patient? %>
								<%= link_to "Account Settings", patient_path(@current_user) %>
							<% elsif @current_user.doctor? %>
								<%= link_to "Account Settings", doctor_path(@current_user) %>
							<%else%>
								<%= link_to "Account Settings", user_path(@current_user) %>
							<%end%>
						<%else%>
							<%= link_to "Register", register_path %>
						<%end%>
						<ul class="dropdown">
							<li>
								<% if @current_user.present? %>
									<%= link_to "Log Out", logout_path, method: :delete %>
								<%else%>
									<%= link_to "Log In", login_path%>
								<%end%>
							</li>
							<li class="active"><a href="#">Active link in dropdown</a></li>
						</ul>
					</li>
				</ul>
				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="#">Left Nav Button</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<br>
	 
	<div class="row">
		<nav aria-label="You are here:" role="navigation">
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li><a href="#">Features</a></li>
				<li class="disabled">Gene Splicing</li>
				<li>
					<span class="show-for-sr">Current: </span> Cloning
				</li>
			</ul>
		</nav>
	</div>
</header>
